.header {
  background: url(../images/bg-header.jpg) no-repeat center center / cover;
  min-height: 300px;
  padding-bottom: 154px; 
  @include media ("<=lg") {
    padding: 0px 30px 30px 30px;
  }
  @include media ("<=sm") {
    padding: 0 20px 20px 20px;
  }
}
.header-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  min-height: 260px;
}
