
body {
  font-family: 'Arvo', serif;
  font-size: 18px;
  @include media ("<=md") {  
    overflow-x: hidden;
  }
}
.wrapper {
  width: 1110px;
  margin: 0px auto;  
  @include media ("<=lg") {
    width: 100%;
    padding-top: 30px;
  }
}