.bg-footer {
  background: #d3d3d3;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 85px 0;
  @include media ("<=lg") {
    padding: 30px 0 25px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  @include media ("<=md") {
    padding-left: 30px;
  }
  @include media ("<=sm") {
    grid-template-columns: 1fr;
    padding: 30px 0 40px 10px;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #3e3e3e;
    margin-bottom: 40px;
  }
  a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #3e3e3e;
    text-decoration: none;
    transition: opacity 1s linear;
    
    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
  li {
    list-style: none;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  ul {
    margin-left: -40px; 
  }
}
.wrap {
  width: 135px;
  @include media ("<=lg") {
    width: 100%;
  }
}
.blog {
  width: 250px;
  @include media ("<=lg") {
    width: 100%;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    color: #3e3e3e;
    &::first-line {
      font-size: 18;
      font-weight: bold;
    }
  }
}
.news {
  margin-left: -125px;
  width: 255px;
  @include media ("<=lg") {
    margin-left: 0px;
    width: 100%;
  }

 
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
    color: #3e3e3e;
  }
}
.footerForm {
  display: flex;
  margin-top: 13px;
  input[type="email"] {
    max-width: 160px;
    min-height: 42px;
    background: #eceaea;
    border-radius: 12px 0 0 12px;
    border: none;
    outline: none;
  }
  button {
  min-width: 95px;
  height: 42px;
  border-radius: 0 12px 12px 0;
  border: none;
  background: #3e3e3e;
  color: #d3d3d3;
  margin-left: -5px;
  outline: none;
  transition: opacity 1s linear;
  &:hover {
    opacity: 0.7;
    }
  }
}
input.error {
  border: 2px solid #99182c;
  margin-right: -308px;
}
label.error {
  position: relative;
  top: 44px;
  left: 150px;
  background: #f32d4b;
  height: 30px;
  padding: 5px;
}
.copyright {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #d3d3d3;
  background: #3e3e3e;
  padding: 16px 0;
}