.bg-footer {
  background: #d3d3d3;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 85px 0;
  @include media ("<=lg") {
    padding: 30px 0 25px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  @include media ("<=md") {
    padding-left: 30px;
  }
  @include media ("<=sm") {
    grid-template-columns: 1fr;
    padding: 30px 0 40px 10px;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #3e3e3e;
    margin-bottom: 40px;
  }
  a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #3e3e3e;
    text-decoration: none;
    transition: opacity 1s linear;
    
    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
  li {
    list-style: none;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  ul {
    margin-left: -40px; 
  }
}
.wrap {
  width: 135px;
  padding-right: 10px;
  @include media ("<=lg") {
    width: 100%;
  }
}
.blog {
  width: 250px;
  padding-right: 10px;
  @include media ("<=lg") {
    width: 100%;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    color: #3e3e3e;
    &::first-line {
      font-size: 18;
      font-weight: bold;
    }
  }
}
.news {
  margin-left: -125px;
  padding-right: 10px;
  width: 255px;
  @include media ("<=lg") {
    margin-left: 0px;
    width: 100%;
  } 
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
    color: #3e3e3e;
  }
}
.footerForm {
  display: flex;
  position: relative;
  top: 13px;
  input[type="email"] {
    max-width: 160px;
    min-height: 42px;
    background: #eceaea;
    border-radius: 12px 0 0 12px;
    border: none;
    outline: none;
    @include media ("<=lg") {
      max-width: none;
      width: 85%;
    }
  }
  button {
    min-width: 95px;
    max-width: 100px;
    min-height: 45px;
    border-radius: 0 12px 12px 0;
    border: none;
    background: #3e3e3e;
    color: #d3d3d3;
    outline: none;
    transition: opacity 1s linear;
    @include media ("<=lg") {
      left: 250px;
    }
    &:hover {
      opacity: 0.7;
      }
    }
  label.error {
    position: absolute;
    top: 50px;
    left: 0px;
    font-size: 17px;
    text-align: center;
    width: 290px;
    min-height: 20px;
    background: rgb(233, 39, 39);
  }
}
.copyright {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #d3d3d3;
  background: #3e3e3e;
  padding: 16px 0;
}