.burger {
    position: absolute;
    height: 50px;
    top: 15px;
    outline: none;
    z-index: 10;
  }
.hamburger--collapse,
 .hamburger-inner {
  transition-duration: .11s!important;
  transition-delay: .13s!important;
}