.footerForm {
    display: flex;
    position: relative;
    top: 13px;
    input[type="email"] {
      max-width: 160px;
      min-height: 42px;
      background: #eceaea;
      border-radius: 12px 0 0 12px;
      border: none;
      outline: none;
      @include media ("<=lg") {
        max-width: none;
        width: 85%;
      }
    }
    button {
      min-width: 95px;
      max-width: 100px;
      min-height: 45px;
      border-radius: 0 12px 12px 0;
      border: none;
      background: #3e3e3e;
      color: #d3d3d3;
      outline: none;
      transition: opacity 1s linear;
      @include media ("<=lg") {
        left: 250px;
      }
      &:hover {
        opacity: 0.7;
        }
      }
    label.error {
      position: absolute;
      top: 50px;
      left: 0px;
      font-size: 17px;
      text-align: center;
      width: 290px;
      min-height: 20px;
      color: red;
    }
  }
  .error {
    color: red;
  }
  #email.error {
    border: 1px solid red;
  }