.nav {
    display: flex;
    flex-direction: row-reverse;
  }
  .nav-menu.active {
    display: flex;
  }
  .nav-menu {
    display: none;
    position: absolute;
    top: 15px;
    padding-right: 60px;
    z-index: 2;
    @include media ("<=md") {
      flex-direction: column;
      position: absolute;
      left: 0px;
      top: 48px;
      background: #f3f3f3;
      padding: 10px 900px 0px 0;
    }
    a {
      display: block;
      text-decoration: none;
      color: #3e3e3e;
      padding: 10px 22px;
      @include media ("<=md") {
        padding: 10px 850px 10px 80px;
      }
      @include media ("<=sm") {
        padding: 10px 650px 10px 20px;
      }
    }
    li {
      font-family: 'Roboto', sans-serif;
      font-size: 17px;
      font-weight: bold;
      list-style: none;
      margin-right: 10px;
      border-radius: 15px;
      z-index: 8;
      position: relative;
      bottom: 8px;
      transition: background 1s linear;
      @include media ("<=md") {
        border-radius: 0;
      }
      &:hover {
        background: #3e3e3e;
        a {
          color: #f3f3f3;
        }
      }
    }
  }